<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
    <style>
        button {
            font-size: 20px; /* Increase font size */
            margin-bottom: 10px; /* Add margin between buttons */
        }
        .instructions {
            font-size: 30px; /* Increase font size for instructions */
        }
    </style>
</head>
<body>
    <h1>{{ message }}</h1>
    <p class="instructions">Choose the test.</p>
    <p class="instructions">Lefthand</p>
    <button onclick="window.location.href='/left-move-1'">Left-Move-1</button>
    <button onclick="window.location.href='/left-move-2'">Left-Move-2</button>
    <button onclick="window.location.href='/left-move-3'">Left-Move-3</button>
    <button onclick="window.location.href='/left-move-4'">Left-Move-4</button>
    <button onclick="window.location.href='/left-move-5'">Left-Move-5</button>
    <button onclick="window.location.href='/left-move-6'">Left-Move-6</button>
    <button onclick="window.location.href='/left-move-7'">Left-Move-7</button><br>
    <p class="instructions">Righthand</p>
    <button onclick="window.location.href='/right-move-1'">Right-Move-1</button>
    <button onclick="window.location.href='/right-move-2'">Right-Move-2</button>
    <button onclick="window.location.href='/right-move-3'">Right-Move-3</button>
    <button onclick="window.location.href='/right-move-4'">Right-Move-4</button>
    <button onclick="window.location.href='/right-move-5'">Right-Move-5</button>
    <button onclick="window.location.href='/right-move-6'">Right-Move-6</button>
    <button onclick="window.location.href='/right-move-7'">Right-Move-7</button>
</body>
</html>
